/* redesign feb 2016 */
/*

blauw: hsl(229,73%,29%) (links)
donkerblauw: hsl(224,58%,21%)
turkoois: hsl(190,81%,56%)
rood: hsl(358,70%,56%) (buttons)
beige lichtst: rgba(248,230,202,1)
beige donker: rgba(251,205,131,1)

*/

* {
  box-sizing: border-box;
}

body {
  font:normal 1em/1.4 'PT Sans', arial, helvetica, sans-serif;
  margin:0;
  padding: 0;
  background:rgba(242, 222, 170, 1);
}

a {
  color: hsl(229,73%,29%);
}

a:hover, a:focus {
  color:hsl(224,58%,21%);
}

.button, button {
  background-color: hsl(358,70%,56%);
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  border-radius: 2px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border:2px solid hsl(358,70%,56%);
  margin:0 1em .5em 0;
}

.button.sec, button.sec {
  background: #fff;
  color: hsl(358,70%,56%);
}


a.button.makead {
  margin-top: 1.5em;
  border: none;
  border-bottom:4px solid #000;
  border-right:4px solid #000;
  color: hsl(229,73%,29%);
  font-weight: normal;
  font-size: 1em;
  background: #fff url(../img/icon-pen.svg) .7em 50% no-repeat;
  background-size: 1.1em;
  padding-left: 2.3em;
}

a.button.makead:hover {
  background: #fff url(../img/icon-pen-hover.svg) .7em 50% no-repeat;
  background-size: 1.1em;
}

.report {
  display: block;
}

.button:hover, button:hover {
  color: #fff;
  background-color: hsl(358,70%,46%);
}

.button.sec:hover, button.sec:hover  {
  color: hsl(358,70%,46%);
  border-color: hsl(358,70%,46%);
  background: #fff;
}

a.extend {
    font-size: 0.9em;
    margin-left: 1em;
    padding: 0.25em 0.5em;
    color: #000 !important;
    border-color: #000;
}

.filter .button.sec {
    font-size: 0.9em;
    padding: 0.25em 0.5em;
    color: #000;
    border-color: #000;
    text-decoration: none;
}

.filter a.button.makead:hover, .filter a.button.makead:focus {
  background:#000;
  color: #fff;
}

section h1 {
  color: hsl(358,70%,56%);
  font-size: 2em;
  margin-bottom: .15em;
  line-height: 1.2;
}


header {
  background: #fff;
}

.egoblock a {
  color: #000;
}

.egoblock a.change {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
  padding: .4em .5em .25em;
  border-radius: 2px;
  font-size: .9em;
  display: inline-block;
  position: relative;
  top: -.5px;
}

.egoblock a.change:hover {
  color: #000;
  border-color: #000;
}
.wrap {
  padding:0 1em;
}

header .wrap {
  padding: 0;
  position: relative;
}

/* language swap */
.lang {
  background-color: #fff;
  color: #333;
  margin: 0 1em;
  padding: 0;
}

.lang > div:first-child {
  padding: 1em 0;
}

.lang ul {
  list-style-type: none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0;
  padding: 0;
}

.lang li {
  margin-right: 1em;
  color:hsl(228,94%,27%);
}

.lang a {
  color:hsl(228,94%,27%);
}

.lang a:hover {
  color:hsl(224,58%,21%);
}

.lang .change {
  display: none;
}

.egoblock {
  background: rgb(216,54,53);
  color: #000;
}

.egoblock .type {
  font-size: 1.4em;
  margin-right: .25em;
  font-weight: bold;
}

.egoblock .login {
  background: rgb(191,14,11);
  color: #fff;
  padding: .5em 1em;
  display: flex;
justify-content: space-between;
  -webkit-justify-content: space-between;
    margin: 1em 0;
}

.egoblock.short .login {
  margin: 1em 0 0;
}

.egoblock .login a {
  color: #fff;
}

.egoblock .usernav {
  list-style: none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0;
}
.egoblock .usernav li {
  margin-left: 1em;
  display: block;
}
.egoblock .ik {
  padding:0 1em 1em;
}
.login .user {
  color:rgba(251,205,131,1);
  margin-right: 1em;
}

.title {
  background: #fff;
  color: #000;
  padding: 1.5em 0 0;
  border-top: 1px solid hsl(228,94%,27%);
}

.title .wrap {
  padding: 0;
}
.title .place {
  font-weight: normal;
  text-decoration: none;
  color: rgb(216, 54, 53);
  position: relative;
  top: -2px;
  margin-bottom: 2px;
}

.title .place:hover {
  color: rgb(216, 54, 53);
  text-decoration: underline;
}

.title h1 {
  color: rgb(216, 54, 53);
  font-size: 1.8em;
  margin: 0;
}

.title h1 img {
  max-width: 50%;
  min-width: 150px;
  margin-right: -8px;
}

.title .change {
  background-color:hsl(358,70%,56%);
  color: #fff;
  display: inline-block;
  font-size: 0.7em;
  font-weight: normal;
  left: 3px;
  padding: 1px 4px;
  position: relative;
  text-decoration: none;
  top: -2px;
}

.title .change:hover {
  background-color: #fff;
}

.home nav {
  display: none;
}

nav ul {
  list-style-type: none;
  padding:1.5em 0 0;
  margin: 1.5em 0 0;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 1px solid hsl(224,58%,21%);
}

nav li {
  margin: .5em 0;
}

nav li+li {
  margin-left: 2em;
}

nav li a, nav li strong {
  padding:0;
  letter-spacing: .025em;
  display: inline-block;
  font-weight: bold;
  color: #fff;
}
nav li strong {
  color:#000;
}

nav a:hover, nav a:focus {
  border-width: 1px;
  color: #000;
}

nav li.active a {
  background-color: hsl(2,63%,47%);
  color: #fff;
}

.intro {
  background: rgb(33,45,121);
  background-size: 1em;
  padding: 2em 0;
  color: #fff;
  margin-bottom: 1em;
}

.home.main .intro {
  margin-bottom: 1em;
}

.intro h1 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  font-size: 1.5em;
}

.intro p {
  margin: .5em 0;
  font-size: 1.2em;
}

.main.itempage .intro .wrap p {
  margin: 0;
}

.list {
  background: url(../img/arrow-oker.svg) 50% 0 no-repeat;
  background-size: 1em;
}
section img {
  max-width: 25em;
  width: 100%;
}

.listings ul {
  list-style-type: none;
  padding:1em 0 0;
  margin:0 0 2em;
}

.youritems .listings ul {
  padding:0;
}
.listings a {
  text-decoration: none;
}

.filter a {
  text-decoration: underline;
}

.listings a p {
  text-decoration: none;
  color: #666;
  margin: 0;
  font-size: .9em;
}
.listings .items li {
  margin-bottom: 1em;
}

.listings .items li a {
  background: rgba(255,255,255,1);
  display: block;
}

.listings .msg-att {
  background: rgba(255,255,255,.5);
  padding: 1em;
}

.listings .items li a:hover {
  background: rgba(255,255,255,.5);
}

.listings .factwrap {
    padding:0 1em 1em;
}

.listings .factoids {
  padding: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: .9em;
}

.listings .factoids li {
    color: #666;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: .5em;
}
.listings .factoids li:first-child {
    margin-right: .3em;
}
.listings .factoids li:after {
  content: "\003e";
  display: block;
  float: right; /* huh */
  margin-left: .5em;
}
.listings .factoids li:first-child:after {
  display: none;
}

.listings .factoids li:last-child:after {
  display: none;
}

.listings .imgwrap {
  width: 100%;
  min-height: 5em;
  max-height: 12em;
  overflow: hidden;
  margin:0;
}

.listings .imgwrap img {
  display: block;
}
.listings h3 {
  margin:0 0 .5em;
  color:hsl(358, 70%, 56%);
  font-size: 1.4em;
  line-height: 1.2;
  padding-top: .75em;
}

.listings+.listings {
  margin-top: 1em;
}

}
.detail, .cat {
  margin: 0;
}
footer {
  background-color:rgb(33, 45, 121);
  color: #fff;
  padding: 2em 0 3em;
}

footer a {
  color: rgba(251,205,131,1);
}

footer a:hover, footer a:focus {
  color:#fff;
}

footer #loginform {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2em;
  padding: .5em 0 0;
}

footer #loginform input[type="text"], footer #loginform input[type="password"] {
  max-width: 25em;
  background: rgba(255,255,255,.5);
}

footer #loginform input[type="text"]:focus, footer #loginform input[type="password"]:focus {
  background: rgba(255,255,255,1);
}

footer #loginform p {
  font-size: .9em;
}
footer .reset {
  margin-top: 1em;
  display: block;
}
.item.s img {
  width: 100px;
  height: auto;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin-right: 1em;
}

.item.s {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  vertical-align: top;
  margin-bottom: 1em;
}

.item.s h2, .item.s h3 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  margin-top: 0;
}

/* forms */
textarea, input {
  width: 100%;
  max-width: 35em;
  display: block;
  font:normal 1em/1.4 arial, helvetica, sans-serif;
  padding: .25em;
  border:1px solid rgba(0,0,0,.3);
  margin: .25em 0 1em;
}

footer input {
  border: none;
}

select {
  font:normal 1em/1.4 arial, helvetica, sans-serif;
  padding: .25em;
  border:1px solid rgba(32, 107, 115, 0.2);
  margin: .25em 0 1em;
}

input[type="file"] {
  border: none;
  padding: 0;
}

input[type="submit"] {
  width: auto;
}

textarea {
  min-height: 5em;
}

fieldset {
  border: none;
  outline: none;
  padding: 0;
  margin-bottom: 1em;
}

legend {
  font-weight: bold;
  background-color:rgba(32, 107, 115,.2);
  display: inline-block;
  padding: .25em .5em;
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  display: block;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  display: inline-block;
  margin:0 1em 0 0;
}

form.posting {
  margin: 1em 0 2em;
}

.errorlist {
  padding-left: 0;
  list-style: none;
}

.errorlist.nonfield {
  margin: 1.5em 0;
}

.errorlist li {
  padding: .5em .75em;
  background-color:hsla(358,70%,56%,.3);
  margin-top: -.5em;
  border: 1px solid hsla(358,70%,56%,1);
  max-width: 35em;
  color: hsla(358,70%,46%,1);
}
/* home specific */
.home .intro p {
  color: #fff;
  margin:0 auto;
  max-width:42em;
}

.intro h1 {
  color: #fff;
  margin:0 auto;
  display: inline;
  font-size: 1.2em;
}

.intro h1+p {
  display: inline;
}

.home.main .wrap {
  margin-bottom: 0;
}

.home .iam {
  margin: 1em 0 2em;
}

.home .places {
  list-style-type: none;
  padding-left: 0;
}

.home .places li {
  margin-bottom: .5em;
}

.home .places a {
  font-weight: bold;
  font-size: 1.25em;
}
.home .places a span {
  font-weight: normal;
  font-size: .8em;
}

.home .places a+span {
  display: block;
  margin-top: -2px;
}

.home .container h2.moreclick {
  display: none;
}

.js .home .container h2.moreclick {
  font-size: 1.1em;
  letter-spacing: 0.025em;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.home .moreclick:before {
  content: '+';
  background: #000;
  color: #fff;
  margin-right: .75em;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 1.3em;
  font-size: .7em;
  bottom: .1em;
}

.js .home .places.more {
  display: none;
}

.js .home .places.more.click {
  display: block;
}

.home .container h2 {
  margin: 0;
  font-size: 1.5em;
}

.home .iam h2+p {
  margin: 0;
}

.main.form {
  padding-bottom: 1em;
}

.uglycode {
  max-width: 100%;
  overflow: scroll;
  margin: 1em;
  max-height: 400px;
  padding: 1em;
  background-color: rgb(228, 249, 225);
}

.new .wrap {
  margin: 3em 1em 1em;
  padding: 1em;
}

.new .wrap h2 {
  border-top: 1px solid rgba(0,0,0,.5);
  padding-top: 2em;
}

.msg .wrap {
    background:hsl(358,70%,56%);
    margin: 2em 1em;
    padding: 1em;
}

.msg ul {
  list-style: none;
  padding: 0;
}

/* Itempage */
.main.itempage .wrap {
    background-color: #fff;
    margin: 2em 1em;
    padding: 1em 1em 2em;
}

.main.itempage .intro .wrap {
  background-color: transparent;
  margin: 0 auto;
  padding: 0 1em;
}

.imgfactwrap {
  margin:1em 0;
}

.facts ul {
  list-style: none;
  padding-left: 0;
}

.desc {
  font-weight: bold;
}

.desc .usersays {
  display: block;
  font-weight: normal;
}

.controls {
  border: 1px dotted #666;
  padding: 0 1em 1em;
  margin-bottom: 1.5em;
}

.controls h2 {
  margin-bottom: 0;
}

.dialogue {
  list-style-type: none;
  padding: 0;
}

.dialogue li {
  margin-bottom: 1em;
}

.dialogue li p {
  margin-bottom: 0;
}

.dialogue li .dia-note {
  padding: 1em;
  background: hsla(41, 68%, 58%, 0.3);
  margin: 1em 0 2em;
  max-width: 35em;
}

.filter ul {
  list-style-type: none;
  padding: 0;
  margin: .5em 0;
}

.listings .filter li {
    background: none;
    margin-bottom: .25em;
}

.filter h2 {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin:1em 0 0;
    text-transform: uppercase;
    color: rgba(176, 122, 39, 1);
}

.items {
  margin-bottom: 2em;
}

.pagination {
  margin-bottom: 1em;
  text-align: right;
}

@media only screen and (min-width: 35em) {
.listings li {
  padding: 0;
}

.listings .items li {
  padding: 0;
}

.listings .items li a {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.listings .imgwrap {
  max-width: 15em;
  margin: 0;
}

.listings img {
  height: 100%;
  width: auto;
}

.userdetailswrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.userdetailswrap div {
  width: 50%;
  padding-right: 2em;
}
.main.itempage .wrap {
    padding: 1em 2em 2em;
}
}

@media only screen and (min-width: 45em) {
  /* language swap */
  .lang > div:first-child {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items: center;
    align-items: center;
  }

  .egoblock {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 1em;
    width: 35%;
    padding-bottom: 1em;
    mix-blend-mode: multiply;
    height: 11.5em;
  }

  .egoblock.short {
    height: auto;
    padding-bottom: 0;
  }

  .egoblock .login, .egoblock.short .login {
    margin-top: 0;
  }

  .egoblock .ik {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  .egoblock .ik .type {
    margin: .4em 0 .35em;
    display: block;
  }

  .title h1 {
    padding-bottom: .5em;
    font-size: 2em;
  }

  .wrap {
    max-width: 65em;
    margin: 0 auto;
  }

  header .wrap {
    padding-left: 1em;
  }

  .lang {
    margin: 0;
    width: 65%;
  }

  .msg .wrap {
    max-width: 65em;
    margin: 1em auto 0;
  }

  .title {
    text-align: left;
    margin-right: 3em;
  }

  .title .wrap {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }

  nav ul {
    margin-top: 0;
    padding-top:0;
    border: none;
  }

  .home .intro .wrap {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .home .intro p {
    margin:.5em 5% 0 0;
    width: 60%;
    font-size: 1.3em;
    max-width: 28em;
  }

  .home.main .intro p {
    width: 80%;
    max-width:none;
  }

  .button.makead {
    position: relative;
    right:-1em;
  }

  .thelist .pagination {
    clear: both;
  }

  .thelist .wrap {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  }

  .listings .items {
    width: 70%;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order:2;
  }

  .filter {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order:1;
    width: 25%;
    margin-right: 5%;
    margin-top: 1em;
  }

  /* Itempage */
  section h1 {
    font-size: 2.5em;
    margin-top: .5em;
  }

  .main.itempage .wrap {
      margin: 2em auto;
      overflow: auto;
  }

  .imgfactwrap {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-top: 1em;
  }

  .imgfactwrap div+.facts {
    margin-left: 2em;
  }

  .imgfactwrap .facts ul {
    margin-top: 0;
  }

  .new .wrap {
    margin: 2em auto;
  }

  footer #loginform {
    width:30%;
    padding-top: 0;
    border-top: none;
    margin-top: 0;
    margin-right: 6%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  footer .opm {
    width: 64%;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  footer #loginform h2 {
    margin-top: 0;
  }

  footer .wrap {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  }

  .report {
    float: right;
    display: inline;
  }

  .home .container {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .home .iam {
    width: 50%;
  }

  .loginornew {
    display: flex;
  }

  .loginornew div {
    width: 40%;
  }

  .loginornew div input {
    max-width: 20em;
  }

  .loginornew div:first-child {
    margin-right: 2em;
  }
}
