<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Git Server</title>
        <meta name="description" content="This is a server for sharing Git Repositories.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script>
            "use strict";

            let socket = new WebSocket("ws://192.168.1.25:1880/OS");

            socket.onopen = function(e) {
              alert("Sending to server");
              socket.send("My name is John");
            };

            socket.onmessage = function(event) {
              alert(`[message] Data received from server: ${event.data}`);
            };

            socket.onclose = function(event) {
              if (event.wasClean) {
                alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
              } else {
                // e.g. server process killed or network down
                // event.code is usually 1006 in this case
                alert('[close] Connection died');
              }
            };

            socket.onerror = function(error) {
              alert(`[error] ${error.message}`);
            };
        </script>
        <script type="text/html" id="about-template">
            <h3>Our vision</h3>
            <p>
              Git Server is a place for programmers.
              It is a website created and used by the programmers.
              This site is created to match the wishes of programmers.
              Take a look on Git Server and meet programmers over there!
              Git Server is a free website.
            </p>
            <p>
              Kind regards,
              <br>
              Xuyi
            </p>
        </script>

        <script type="text/html" id="home-template">
          <h3>
            You can use this website to get in touch with other programmers.
          </h3>
          <button class="add btn btn-primary">Add An Topic</button>
          <% if (items !== null) { %>
            <div class="items">
              <% _.each(items.models, function (item) { %>
                <hr>
                <div class="factwrap">
                  <a href="#item/<%- item.get('id') %>">
                    <h3 dir="ltr"><%=item.get('title')%></h3>
                  </a>
                </div>
              <% }); %>
            </div>
          <% } %>
        </script>

        <script type="text/html" id="header-template">
            <ul class="nav nav-tabs" style="font-size:1.5em">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#/help">Help</a></li>
                <li role="presentation"><a href="#/about">About</a></li>
            </ul>
        </script>

        <script type="text/html" id="footer-template">
          <hr>
          <p>
            Tips, suggestions, complaints or questions? Please <a href="mailto:xuyi_wang@hotmail.com">give us feedback</a>
          </p>
        </script>

        <script type="text/html" id="help-template">
          <h3>Q & A</h3>
          <strong><p>How can I add an topic?</p></strong>
          <p>You can add an topic by clicking on Add An Topic button.</p>
          <strong><p>How can I react on an topic?</p></strong>
          <p>You can react on an topic by clicking on Reply button after clicking the topic.</p>
        </script>

        <script type="text/html" id="new-item-template">
          <form action="" method="post">
            <label for="id_title">Title:</label>
            <input class="form-control" id="id_title" type="text" name="title" maxlength="100" required="true" />
            <label for="id_description">Description:</label>
            <textarea class="form-control" id="id_description" name="description" cols="50" required="true"></textarea>
            <br>
            <button type="submit" class="btn btn-success">Create</button>
            <button class="cancel btn btn-danger">Cancel</button>
          </form>
        </script>

        <script type="text/html" id="new-message-template">
          <form action="" method="post">
            <label for="id_text">Message:</label>
            <textarea class="form-control" id="id_text" name="text" cols="50" required="true"></textarea>
            <input type="hidden" name="item" value="http://localhost:8000/api/items/<%=item.get('id')%>">
            <br>
            <button type="submit" class="btn btn-success">Create</button>
            <button class="cancel btn btn-danger">Cancel</button>
          </form>
        </script>

        <script type="text/html" id="item-template">
          <h3 dir="ltr"><%=item.get('title')%></h3>
          <input type="hidden" name="id" value="<%=item.get('id')%>">
          <p class="desc" dir="ltr">
            <%=_.escape(item.get('description'))%>
          </p>
          <% _.each(messages.models, function (message) { %>
            <p>
              <%=message.getDatetime()%>: <%=_.escape(message.get('text'))%>
            </p>
          <% }); %>
          <button class="add btn btn-primary">Reply</button>
        </script>
    </head>
    <body>
      <main id="content" class="container" role="main"></main>
      <script src="vendor/jquery.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js"></script>
      <script src="vendor/backbone.js"></script>
      <script id="config" type="text/json">
        {
          "models": {},
          "collections": {},
          "views": {},
          "router": null
        }
      </script>
      <script src="app.js"></script>
      <script src="models.js"></script>
      <script src="views.js"></script>
      <script src="router.js"></script>
    </body>
</html>
